<v-dialog v-model="openSeguimiento" activator="parent" persistent>
    <!-- <v-card >
        <v-card-title class="dialog-title d-flex align-center justify-space-between">
          SEGUIMIENTO DE DOCUMENTOS
          <span class="d-flex row">
            <v-btn variant="outlined" icon color="info" @click="closeSeguimiento()">
              <v-icon>mdi-close-thick</v-icon>
            </v-btn>
          </span>
        </v-card-title>
    </v-card> -->
    <wrapper-drag :listDialog="listDialog"> </wrapper-drag>   
</v-dialog>